<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="github" value="https://nuget.pkg.github.com/CUMTD/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="%MtdGithubUserName%" />
			<add key="ClearTextPassword" value="%MtdGithubAccessToken%" />
		</github>
	</packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="github">
			<package pattern="Mtd.*" />
		</packageSource>
	</packageSourceMapping>
	<disabledPackageSources />
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>